body{
    margin:0 ;
    padding: 0;
    height:0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.seccion_1 h1{
color: #ff8940;
text-align: center;
font-size: 100px;
margin-top: -80px;
}

.seccion_1 {
    background-image: url(/assets/bgHeader.png);
    background-size: cover;
    background-position: center -120px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}
.caja{
    text-align: center;
}

.seccion_1 p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top:-70px;
    margin-bottom: 190px;
}

.seccion_1 button{
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 30px;
    border:none;
    background-color: #ff8940;
    width: 100px;
    height: 50px;
    color: white;
}

.seccion_2{
    margin-top: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: -400px;
    margin: 130px;
    padding: 30px 25px;
   
}
.caja1{
    width: 700px;
}
.seccion_2 img {
    height: auto;
    max-width: 100%;

}
.seccion_2 p{
    font-size: 20px;
width: 460px;
}

.seccion_2 h2{
    color: #ff8940;
    font-size: 40px;
    width: 1000px;
}


.seccion_2 button{
    border-radius:100px;
    border:none;
    background-color: #ff8940;
    color: white;
    height: 50px;
    width: 100px;
}


.seccion_3{
    margin-top: 200px;
    display: flex;
    align-items: center;
    margin: 130px;
}
.seccion_3 img {
    margin-left: 135px;
    margin-right: 90px;
}




.div3 h2{
    margin-left: 200px;
 color: #ff8940;
 font-size:40px;
 width: 1000px;
}

.div3 p{
    margin-left: 200px;
    font-size: 20px;
    width: 460px;
}

.div3 button{
    margin-left: 200px;
    border-radius:100px;
    border:none;
    background-color: #ff8940;
    color: white;
    height: 50px;
    width: 100px;
}

seccion_5{
    color: #ff8940;
}

.seccion_4{
    background-image: url(../assets/bgDown.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 60vh;
    padding: 100px 40px;
}

.seccion_4 h2{
    color: #ff8940;
    font-size: 40px;
    margin-left: 220px;
}

.seccion_4 p{
    font-size: 20px;
    margin-left: 220px;
}

.seccion_4 button{
    margin-left: 220px;
    border-radius:100px;
    border:none;
    background-color: #ff8940;
    color: white;
    height: 40px;
    width: 140px;
}
.seccion_5{
    background-color: #ff8940;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.seccion_5 ul{
    text-decoration: none;
    list-style: none;
}

.seccion_5 a{
text-decoration: none;
color: white;

}

footer{
 
    text-align: center;
    background-color: #ff8940;
    padding: 15px;
    color: white;
    font-size: 16px;
    box-shadow: 10px 10px 30px 0px #cc5104;
}

@media (max-width:1279px){
 .seccion_1 button {
    margin-top: 32px;
    margin-bottom: 270px;
 }
.seccion_2 h2{
    width: 460px;
}
.div3 h2 {
    margin-left: 200px;
    color: #ff8940;
    font-size: 37px;
    width: 441px;
}
.seccion_3 img {
    margin-left: -110px;
    margin-right: -165px;
}


}
@media(max-width:920px){

} 
