body{
    margin:0 ;
    padding: 0;
    height:0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.seccion_1 h1{
color: #ff8940;
text-align: center;
font-size: 100px;
margin-top: -80px;
}

.seccion_1 {
    background-image: url(/assets/bgHeader.png);
    background-size: cover;
    background-position: center -120px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}
.caja{
    text-align: center;
}

.seccion_1 p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top:-70px;
    margin-bottom: 190px;
}

.seccion_1 button{
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 30px;
    border:none;
    background-color: #ff8940;
    width: 100px;
    height: 50px;
    color: white;
}

.seccion_2{
    margin-top: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: -400px;
    margin: 130px;
    padding: 30px 25px;
   
}
.caja1{
    width: 700px;
}
.seccion_2 img {
    height: auto;
    max-width: 100%;

}
.seccion_2 p{
    font-size: 20px;
width: 460px;
}

.seccion_2 h2{
    color: #ff8940;
    font-size: 40px;
    width: 1000px;
}


.seccion_2 button{
    border-radius:100px;
    border:none;
    background-color: #ff8940;
    color: white;
    height: 50px;
    width: 100px;
}


.seccion_3{
    margin-top: 200px;
    display: flex;
    align-items: center;
    margin: 130px;
}
.seccion_3 img {
    margin-left: 135px;
    margin-right: 90px;
}




.div3 h2{
    margin-left: 200px;
 color: #ff8940;
 font-size:40px;
 width: 1000px;
}

.div3 p{
    margin-left: 200px;
    font-size: 20px;
    width: 460px;
}

.div3 button{
    margin-left: 200px;
    border-radius:100px;
    border:none;
    background-color: #ff8940;
    color: white;
    height: 50px;
    width: 100px;
}

seccion_5{
    color: #ff8940;
}

.seccion_4{
    background-image: url(../assets/bgDown.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 60vh;
    padding: 100px 40px;
}

.div_4 h2{
    color: #ff8940;
    font-size: 40px;
    margin-left: 220px;
}

.div_4 p{
    font-size: 20px;
    margin-left: 220px;
}

.div_4 button{
    margin-left: 220px;
    border-radius:100px;
    border:none;
    background-color: #ff8940;
    color: white;
    height: 40px;
    width: 140px;
}
.seccion_5{
    background-color: #ff8940;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.seccion_5 ul{
    text-decoration: none;
    list-style: none;
}

.seccion_5 a{
text-decoration: none;
color: white;

}

footer{
 
    text-align: center;
    background-color: #ff8940;
    padding: 15px;
    color: white;
    font-size: 16px;
    box-shadow: 10px 10px 30px 0px #cc5104;
}

@media (max-width:1279px){
    .seccion_1{
        background-position: center 0px;
    }
 .seccion_1 button {
    margin-top: 32px;
    margin-bottom: 270px;
 }
.seccion_2 h2{
    width: 460px;
}

.caja{
    margin-bottom: -200px;
}
.div3 h2 {
    margin-left: 200px;
    color: #ff8940;
    font-size: 37px;
    width: 441px;
}
.seccion_3 img {
    margin-left: -110px;
    margin-right: -165px;
}
.div3 p {
    margin-left: 180px;

}

.seccion_4{
    height: 21vh;
}
.div_4{
    margin-left: -219px;
}
.div_4 h2{ 
    font-size: 31px;
}
.div_4 p{
    font-size: 18px;
}
}
@media(max-width:920px){
     .seccion_1 h1{
        font-size: 65px;
        margin-bottom: 87px;
        margin-top: -45px;
     }
    .seccion_1 p{
    font-size: 30px;
    margin-bottom: 155px;
}

    .seccion_1 button{
        margin-bottom: 225px;
    }


    .seccion_2 h2{
            margin-left: -5px;
            margin-right: 159px;
            font-size: 35px;    
        }
    .seccion_2 p{
        font-size: 19px;
        width: 347px;
    }
    .seccion_2 img{
        max-width: 70%;
        margin-left: -226px;
    }
    .seccion_3 img{
        max-width: 70%;
    }

    .seccion_3 h2{
        font-size: 33px;
        width: 358px;
    }
    .seccion_3 p{
        font-size: 19px;
        width: 347px;
        margin-left: 201px;
    }
    .seccion_4{
        height: 16vh;
        background-position:24%;
    }
    .div_4 h2{
        font-size: 27px;
    }
    .div_4 p{
        width: 391px;
        height: 100px;
        font-size: 15px;
    }
} 
@media(max-width:768px){

    .seccion_1{
        height: 50vh;
    }
 .seccion_1 h1{
        font-size: 35px;
        margin-bottom: 87px;
        margin-top: 65px;
     }
     .seccion_1 p{
        font-size: 30px;
    margin-bottom: 155px;
     }
}

